body {
	font-family: serif;
	font-size: 14pt;
	line-height: 1.5em;
	
	max-width: 8in;
	margin: 0 auto;
}

body > ul {
	padding: 1em;
}

b > b { /* uh, ugly hack */
	font-weight: normal;
	font-style: italic;
}
ul {
	list-style: none;
}
li {
	min-height: 0.8em;
}

.h1 > .inline,
.h2 > .inline,
.h3 > .inline,
.h4 > .inline {
	font-weight: bold;
	/*margin: 0.25em 0 0;
	padding-bottom: 0.25em;*/
}
.h1 > .inline {
	font-size: 2em;
	margin: 0 0 0.8em;
}
.h2 > .inline {
	font-size: 1.75em;
	margin: 2em 0 0.8em;
}
.h3 > .inline {
	font-size: 1.35em;
	margin: 1em 0 0.4em;
}
.h4 > .inline {
	font-size: 1em;
	margin: 0.5em 0 0;
}

.h1, .h2, .h3, .h4 {
	/* Apparently these don't work in Chrome */
	page-break-after: avoid;
}

/*
body {
	counter-reset: h2 h3 h4;
}
.h2 { counter-reset: h3; }
.h3 { counter-reset: h4; }
.h2::before {
	counter-increment: h2;
	content: counter(h2) "\0000a0\0000a0";
}
.h3::before {
	counter-increment: h3;
	content: counter(h2) "." counter(h3) "\0000a0\0000a0";
}
.h4::before {
	counter-increment: h4;
	content: counter(h2) "." counter(h3) "." counter(h4) "\0000a0\0000a0";
}
.h2::before, .h3::before, .h4::before {
	float: right;
}
*/

.bullet {
	list-style-type: circle;
}

.tag {
	color: #C80000;
	font-family: consolas;
	font-size: 0.8em;
	padding-right: 3px;
}

div.math {
	margin: -15px 0; 
}
.math {
	padding: 0 2px;
	color: blue;
}
.katex {
	font-size: 1em !important;
}