body {
	width: 9in;
	padding: 1in;
	margin: 1em auto;
	
	font-family: serif;
	font-size: 16pt;
	line-height: 1.5em;
}

ul {
	list-style: none;
}

.tag {
	color: #C80000;
	font-family: consolas;
	font-size: 0.8em;
	padding-right: 3px;
}

.math {
	font-size: 0.8em;
	padding: 0 2px;
	color: blue;
}

div.math {
	text-align: center;
}